@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
* {
  margin: 0;
  padding: 0;
}
html {
  background-color: #eee;
  font-size: 20px;
  font-family: sans-serif;
}
#container {
  margin: 2rem 4rem;
  padding: 1rem;
  border-top: 1rem solid #a06b9a;
  background-color: #fafafa;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0,0,0,0.2);
  border-radius: 0.15rem;
  text-align: center;
}
#headContainer {
  display: grid;
  grid-template: 'auto auto';
}
#imgCanvas {
  border: 0.1rem solid #aaa;
}
